
@{
    ViewBag.Title = "О программе / Справка";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}   
<div class="panel panel-body">
    <div>
        <h2>О программе / Справка</h2>

        @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })
    </div>

    <h3>Это тестовое приложение для стажировки в ГК ХОСТ, ниже приведен исходный текст задания (= реализованный функционал )</h3>
    <br />
    <div>
        <h4><b>Задание 1</b></h4>

        Разработка формы на ASP.Net.<br />
        Используя актуальную версию ASP.Net требуется написать страницу с формой.<br />
        Форма должна содержать в себе следующие поля:<br />
        <ul>
            <li>	Номер заявки (порядковый номер, присваивается автоматически)</li>
            <li>	Дата (автоматически подставляется текущая дата)</li>
            <li>	Ответственный (Фамилия Имя)</li>
            <li>	Описание (текстовое поле – не больше 300 символов, с уведомлением о достижении предела)</li>
            <li>	Тип (выпадающий список с несколькими элементами)</li>
            <li>	Ориентировочная дата закрытия (выбор даты из календаря с возможностью ввода вручную)</li>
            <li>	Вложенные файлы (возможность прикладывать файлы)</li>
        </ul>
        <h4><b>Задание 2</b></h4>

        Разработка страницы управления формами.<br />
        В том же приложении требуется реализовать дополнительную страницу управления формами.<br />
        Требуется следующая функциональность:<br />
        <ul>
            <li> Создать новую заявку </li>
            <li>Посмотреть заявки отдельных типов, реализованных в первом задании. (Например, Показать формы типа «А», Показать формы типа «Б»)</li>
            <li>
                Возможность отредактировать уже созданную заявку.
                Здесь требуется заблокировать все поля в заявке кроме: описание, тип,
                вложенные файлы (необходимо предусмотреть возможность, как добавления файлов, так и удаления)
                <br/>(для оптимизации работы максимальный размер загружаемых файлов ограничен 4 мегабайтами),
                ориентировочная дата закрытия (необходимо дать возможность изменить дату, но не более трех раз, при этом указанные ранее даты надо отображать в теле заявки)
            </li>
            <li><b>Дополнительно реализован функционал сохранения вложений на компьютер</b></li>
        </ul>


</div>
    </div>
